<a href="https://colab.research.google.com/github/Sagar8902/Python-Problem-Questions/blob/main/100_Problems_Solving_Questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Python Practice Problems**

---



---


**1. User will input (3ages).Find the oldest one**

In [ ]:
age_1 = int(input("Enter your age here: "))
age_2 = int(input("Enter your age here: "))
age_3 = int(input("Enter your age here: "))

if age_1 > age_2:
  print("age_1 greater than others: ",age_1)
elif age_2 > age_3:
  print("age_2 greater than others: ",age_2)
else:
  print("age_3 greater than others: ",age_3)

Enter your age here: 54
Enter your age here: 23
Enter your age here: 18
age_1 greater than others:  54

**2. Write a program that will convert celsius value to fahrenheit**

In [ ]:
C = int(input("Enter tremperature in celsius here: "))

F = ((9/5)*C)+32

print("Temperature in fehrenheit: ", F)

Enter tremperature in celsius here: 35
Temperature in fehrenheit:  95.0

**3. User will input (2numbers).Write a program to swap the numbers**

In [ ]:
num_1 = int(input("Enter Number_1 here: "))
num_2 = int(input("Enter Number_2 here: "))
print()
print("swap the numbers")

temp = num_1

num_1 = num_2
num_2 = temp

print("Number_1 = ",num_1)
print("Number_2 = ",num_2)

# print("Enter Number_1 = ",num_2)
# print("Enter Number_2 = ",num_1)

Enter Number_1 here: 10
Enter Number_2 here: 25

swap the numbers
Number_1 =  25
Number_2 =  10

**4. Write a program that will give you the sum of 3 digits**

In [ ]:
num = int(input("Enter your 3 digit number here: "))

a = num % 10
num = num // 10

b = num % 10
c = num // 10

sum = a+b+c
print("sum of 3 digit=",sum)

Enter your 3 digit number here: 123
sum of 3 digit= 6

**5. Write a program that will reverse a four digit number.Also it checks whether the reverse is true.**

In [ ]:
user_input = int(input("Enter your 4 digit number here: "))
num = user_input

a = num % 10
num = num // 10

b = num % 10
num = num // 10

c = num % 10
d = num // 10

rev = (a*1000) + (b*100) + (c*10) + (d)

print()
print("User Input: ", user_input)
print("Reverse Number: ", rev)

print()
print("checks whether the reverse is true")
if (user_input != rev):
  print("True")
else:
  print("False")

Enter your 4 digit number here: 1234

User Input:  1234
Reverse Number:  4321

checks whether the reverse is true
True

**6. Write a program that will tell whether the number entered by the user is odd or even**

In [ ]:
num = int(input("Enter your number here: "))

if num % 2 == 0:
  print("Number is even -", num)
else:
  print("Number  is odd -", num)

Enter your number here: 11
Number  is odd - 11

**7. Write a program that will tell whether the given year is a leap year or not.**

In [ ]:
year = int(input("Enter your prefer year here :"))

print()
if year % 4 == 0:
  print(">> Given year is a leap year <<")
else:
  print(">> Given year is not a year <<")

Enter your prefer year here :2024

>> Given year is a leap year <<

**8. Write a program to find the euclidean distance between two coordinates.**

In [ ]:
import math

x1 = int(input("Enter the length of x1: "))
x2 = int(input("Enter the length of x2: "))
y1 = int(input("Enter the length of y1: "))
y2 = int(input("Enter the length of y2: "))

ed = ((x2 - x1)**2 + (y2 - y1)**2)
ed_ = round(math.sqrt(ed),2)

print()
print("euclidean distance between two coordinates: ",ed_)

Enter the length of x1: 15
Enter the length of x2: 25
Enter the length of y1: 36
Enter the length of y2: 40

euclidean distance between two coordinates:  10.77

**9. Write a program that take a user inpute of three angles and will find out whether it can form a triangle or not.**

In [ ]:
A1 = int(input("Enter the angle_1 of the triangle: "))
A2 = int(input("Enter the angle_2 of the triangle: "))
A3 = int(input("Enter the angle_3 of the triangle: "))

print()
if (A1+A2+A3 == 180):
  print(">> It is a Triangle <<")
else:
  print(">> It is not a Triangle <<")

Enter the angle_1 of the triangle: 45
Enter the angle_2 of the triangle: 45
Enter the angle_3 of the triangle: 90

>> It is a Triangle <<

**10. Write a program that will take user input of cost price and selling price and determines whether its a loss or a profit**

In [ ]:
cost = int(input("Enter your cost price here: "))
sell = int(input("Enter your selling price here: "))

print()

if (sell > cost):
  print(">> Profit 💹 <<",(sell - cost))
else:
  print(">> Loss 😥 <<",(sell - cost))

Enter your cost price here: 480
Enter your selling price here: 599

>> Profit 💹 << 119

**11. Write a program to find the simple interest when the value of principle,rate of interest and time period is given.**

In [ ]:
p = int(input("Enter your principle amount here: "))
r = int(input("Enter your rate of interest here: "))
t = int(input("Enter your time period in year here: "))

I = round((p*r*t)/100,2)

print()
print(f"Your interest amount will be after {t} years :", I)

Enter your principle amount here: 25000
Enter your rate of interest here: 8
Enter your time period in year here: 3

Your interest amount will be after 3 years : 6000.0

**12. Write a program to find the volume of the cylinder. Also find the cost when ,when the cost of 1litre milk is 40Rs.**

In [ ]:
r = int(input("Enter the radius of cylinder here in cms: "))
h = int(input("Enter the height of cylinder here in cms: "))

V = 3.14*(r**2)*h

print()
print(f">> Volume of cylinder is = {V} cms")

litre = round(V/1000.2)
print()
print(f">> The capacity of cylinder is = {litre} litres")

cost = litre * 40
print()
print(f">> The cost of cylinder is = {cost} rupees")

Enter the radius of cylinder here in cms: 20
Enter the height of cylinder here in cms: 60

>> Volume of cylinder is = 75360.0 cms

>> The capacity of cylinder is = 75 litres

>> The cost of cylinder is = 3000 rupees

**13. Write  a program that will tell whether the given number is divisible by 3 & 6.**

In [ ]:
num = int(input("Enter your number here: "))

print()

if num % 3 == 0 and num % 6 == 0:
  print(">> Given number is divisible by 3 & 6")
else:
  print(">> Given number is not divisible by 3 & 6")

Enter your number here: 20

>> Given number is not divisible by 3 & 6

**16. Write a program that will determine weather when the value of temperature and humidity is provided by the user.**
      (>= 30                             >=90                Hot and Humid),
      (>= 30                             < 90                Hot),
      (<30                               >= 90               Cool and Humid),
      (<30                               <90                 Cool)

In [ ]:
temp = int(input("Enter thr current  temperarure: "))
humid = int(input("Enter the current humidity: "))

print()

if (temp >= 30 and humid >= 90):
  print("Hot and Humid")
elif (temp >= 30 and humid < 90):
  print("Hot")
elif (temp < 30 and humid >= 90):
  print("Cool and Humid")
elif (temp < 30 and humid < 90):
  print("Cool")

Enter thr current  temperarure: 40
Enter the current humidity: 50

Hot

**17. Write a program that will take three digits from the user and add the square of each digit.**

In [ ]:
user_input = int(input("Enter your 3 digit number here: "))
num = user_input

a = num % 10
num = num // 10

b = num % 10
c = num // 10

add = (c**2)+(b**2)+(a**2)
print()

print("Required number: ", add)

Enter your 3 digit number here: 123

Required number:  14

**18. Write a program that will check whether the number is armstrong number or not.**

In [ ]:
user_input = int(input("Enter your 3 digit number here: "))
num = user_input

a = num % 10
num = num // 10
b = num % 10
c = num // 10

val = (c**3)+(b**3)+(a**3)

print()
if user_input == val:
  print("Number is armstrong number")
else:
  print("Number is not armstrong number")

Enter your 3 digit number here: 370

Number is armstrong number

**19. Write a program that will take user input of (4 digits number) and check whether the number is narcissist number or not.**

In [ ]:
user_input = int(input("Enter your 4 digit number here: "))
num = user_input

a = num % 10
num = num // 10
b = num % 10
num = num // 10
c = num % 10
d = num // 10

val = (d**4)+(c**4)+(b**4)+(a**4)

print()
if user_input == val:
  print("Number is narcissist number")
else:
  print("Number is not narcissist number")

Enter your 4 digit number here: 1634

Number is narcissist number

**20. Write a program that will give you the in hand salary after deduction of HRA(10%),DA(5%),PF(3%), and tax(if salary is between 5-10 lakh–10%),(11-20lakh–20%),(> 20 – 30%)(0-1lakh print k).**

In [ ]:
salary = int(input("Enter your monthly salary: "))
package = float(input("Enter your annual package in lacs ex-3.3: "))

HRA = 0.1*salary
DA = 0.05*salary
PF = 0.03*salary

net = salary - (HRA+DA+PF)

if (package >= 5 and salary <= 10):
  net -= 0.1*salary
elif (package >= 11 and salary <= 20):
  net -= 0.2*salary
elif (package >= 20):
  net -= 0.3*salary
elif (package >= 0 and salary < 5):
  net = net

print()
print("Your in hand salary after deduction =",net)

Enter your monthly salary: 27000
Enter your annual package in lacs ex-3.3: 3.24

Your in hand salary after deduction = 22140.0

**21. Write a menu driven program - 1.cm to ft  2.kl to miles  3.usd to inr  4.exit**

In [ ]:
print("values Convertor")
print(menu)

menu = """
       1. cm to inches
       2. kl to miles
       3. usd to inr
       4. exit
"""

num = int(input("Enter number from 1 to 4 here: "))


if num == 1:
  cm = float(input("Enter value in cm here: "))
  inch = cm * 0.394
  print(f"{cm} cms = {inch} inches")
elif num == 2:
  kl = float(input("Enter value in kilometers here: "))
  miles = kl * 0.621
  print(f"{kl} kilometers = {miles} miles")
elif num == 3:
  usd = float(input("Enter value in USD here: "))
  inr = usd * 83.30
  print(f"{usd} usd = {inr} inr")
elif num == 4:
  print("Exit")

values Convertor

       1. cm to inches
       2. kl to miles
       3. usd to inr
       4. exit

Enter number from 1 to 4 here: 1
Enter value in cm here: 15
15.0 cms = 5.91 inches

**22. Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.**

**23. Write a program that will swap numbers**

In [ ]:
a = int(input("Enter your first number: "))
b = int(input("Enter your second number: "))

a = a + b
b = a - b
a = a - b
print()
print("values after swapping")
print("Value of first number: ", a)
print("Value of second number: ", b)

Enter your first number: 6
Enter your second number: 25

values after swapping
Value of first number:  25
Value of second number:  6

**24. Write a program to find the sum of first n numbers, where n will be provided by the user. Eg if the user provides n=10 the output should be 55**

In [ ]:
n = int(input("Enter your number here: "))

s = (n * (n +1))/2

print(" sum of first n numbers: ",s)

Enter your number here: 10
 sum of first n numbers:  55.0

**25. Write a program that can multiply 2 numbers provided by the user without using the * operator**

In [ ]:
first_num = int(input("Enter your first number: "))
second_num = int(input("Enter your second number: "))
sum = 0

for i in range(0,first_num):
  sum =  sum + second_num

print()
print("Your result is: ",sum)

Enter your first number: 4
Enter your second number: 5

Your result is:  20

**26. Write a program that can find the factorial of a given number provided by the user.**

In [ ]:
num = int(input("Enter your number here: "))

i = 1

if num > 0:

  while num >= 1:
    i = i * num
    num = num -  1
  print("factorial of a given number is:",i)

else:
  print("Invalid number")

Enter your number here: 5
factorial of a given number is: 120

**27. Write a program to print the first 25 odd numbers**

In [ ]:
  flag = 0
  i = 1

  while True:
    if (i % 2 != 0):
      print(i)
      flag += 1
    if flag == 25:
      break
    i += 1

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

**28. Write a program to print whether a given number is prime number or not**

In [ ]:
num = int(input("Enter your number here: "))

if num == 2:
  print(num,"is a prime number")

elif num > 1:
  for i in range(2,num):
    if (i % 2 == 0):
      print(num,"is not a prime number")
      break
    else:
      print(num,"is a prime number")
      break
else:
  print(num,"is not a prime number")

Enter your number here: 140
140 is not a prime number

**29. Print all the armstrong numbers in the range of 100 to 1000**

In [1]:
for num in range(100,1000):

  i = num
  a = num % 10
  num = num // 10
  b = num % 10
  c = num // 10

  if (a**3)+(b**3)+(c**3) == i:
    print(i)
    i += 1

153
370
371
407

**30. The current population of a town is 10000. The population of the town is increasing at the rate of 10% per year. You have to write a program to find out the population at the end of each of the last 10 years. For eg current population is 10000 so the output should be like this:
10th year - 10000
9th year - 9000
8th year - 8100 and so on**

In [5]:
flag = 0
a = 10000
print(a)

while True:
  b = (a) - (a * 0.10)
  a = b
  print(round(b,0))
  flag += 1

  if flag == 9:
    break

10000
9000.0
8100.0
7290.0
6561.0
5905.0
5314.0
4783.0
4305.0
3874.0

**31. Write a program to print all the unique combinations of 1,2,3 and 4**

In [14]:
print("unique combinations of 1,2,3 and 4")
for i in range(1,5):
  for j in range(1,5):
    for k in range(1,5):
      for l in range(1,5):
        if(i != j and i,j != k and i,j,k != l):
          print(i,j,k,l)

unique combinations of 1,2,3 and 4
1 1 1 1
1 1 1 2
1 1 1 3
1 1 1 4
1 1 2 1
1 1 2 2
1 1 2 3
1 1 2 4
1 1 3 1
1 1 3 2
1 1 3 3
1 1 3 4
1 1 4 1
1 1 4 2
1 1 4 3
1 1 4 4
1 2 1 1
1 2 1 2
1 2 1 3
1 2 1 4
1 2 2 1
1 2 2 2
1 2 2 3
1 2 2 4
1 2 3 1
1 2 3 2
1 2 3 3
1 2 3 4
1 2 4 1
1 2 4 2
1 2 4 3
1 2 4 4
1 3 1 1
1 3 1 2
1 3 1 3
1 3 1 4
1 3 2 1
1 3 2 2
1 3 2 3
1 3 2 4
1 3 3 1
1 3 3 2
1 3 3 3
1 3 3 4
1 3 4 1
1 3 4 2
1 3 4 3
1 3 4 4
1 4 1 1
1 4 1 2
1 4 1 3
1 4 1 4
1 4 2 1
1 4 2 2
1 4 2 3
1 4 2 4
1 4 3 1
1 4 3 2
1 4 3 3
1 4 3 4
1 4 4 1
1 4 4 2
1 4 4 3
1 4 4 4
2 1 1 1
2 1 1 2
2 1 1 3
2 1 1 4
2 1 2 1
2 1 2 2
2 1 2 3
2 1 2 4
2 1 3 1
2 1 3 2
2 1 3 3
2 1 3 4
2 1 4 1
2 1 4 2
2 1 4 3
2 1 4 4
2 2 1 1
2 2 1 2
2 2 1 3
2 2 1 4
2 2 2 1
2 2 2 2
2 2 2 3
2 2 2 4
2 2 3 1
2 2 3 2
2 2 3 3
2 2 3 4
2 2 4 1
2 2 4 2
2 2 4 3
2 2 4 4
2 3 1 1
2 3 1 2
2 3 1 3
2 3 1 4
2 3 2 1
2 3 2 2
2 3 2 3
2 3 2 4
2 3 3 1
2 3 3 2
2 3 3 3
2 3 3 4
2 3 4 1
2 3 4 2
2 3 4 3
2 3 4 4
2 4 1 1
2 4 1 2
2 4 1 3
2 4 1 4
2 4 2 1
2 4 2 2
2 4 2 3
2 4 2 4
2 4 3 1
2 4 3 2
2 4 3 3
2 4 3 4
2 4 4 1
2 4 4 2
2 4 4 3
2 4 4 4
3 1 1 1
3 1 1 2
3 1 1 3
3 1 1 4
3 1 2 1
3 1 2 2
3 1 2 3
3 1 2 4
3 1 3 1
3 1 3 2
3 1 3 3
3 1 3 4
3 1 4 1
3 1 4 2
3 1 4 3
3 1 4 4
3 2 1 1
3 2 1 2
3 2 1 3
3 2 1 4
3 2 2 1
3 2 2 2
3 2 2 3
3 2 2 4
3 2 3 1
3 2 3 2
3 2 3 3
3 2 3 4
3 2 4 1
3 2 4 2
3 2 4 3
3 2 4 4
3 3 1 1
3 3 1 2
3 3 1 3
3 3 1 4
3 3 2 1
3 3 2 2
3 3 2 3
3 3 2 4
3 3 3 1
3 3 3 2
3 3 3 3
3 3 3 4
3 3 4 1
3 3 4 2
3 3 4 3
3 3 4 4
3 4 1 1
3 4 1 2
3 4 1 3
3 4 1 4
3 4 2 1
3 4 2 2
3 4 2 3
3 4 2 4
3 4 3 1
3 4 3 2
3 4 3 3
3 4 3 4
3 4 4 1
3 4 4 2
3 4 4 3
3 4 4 4
4 1 1 1
4 1 1 2
4 1 1 3
4 1 1 4
4 1 2 1
4 1 2 2
4 1 2 3
4 1 2 4
4 1 3 1
4 1 3 2
4 1 3 3
4 1 3 4
4 1 4 1
4 1 4 2
4 1 4 3
4 1 4 4
4 2 1 1
4 2 1 2
4 2 1 3
4 2 1 4
4 2 2 1
4 2 2 2
4 2 2 3
4 2 2 4
4 2 3 1
4 2 3 2
4 2 3 3
4 2 3 4
4 2 4 1
4 2 4 2
4 2 4 3
4 2 4 4
4 3 1 1
4 3 1 2
4 3 1 3
4 3 1 4
4 3 2 1
4 3 2 2
4 3 2 3
4 3 2 4
4 3 3 1
4 3 3 2
4 3 3 3
4 3 3 4
4 3 4 1
4 3 4 2
4 3 4 3
4 3 4 4
4 4 1 1
4 4 1 2
4 4 1 3
4 4 1 4
4 4 2 1
4 4 2 2
4 4 2 3
4 4 2 4
4 4 3 1
4 4 3 2
4 4 3 3
4 4 3 4
4 4 4 1
4 4 4 2
4 4 4 3
4 4 4 4

**32. User will provide 2 numbers you have to find the HCF of those 2 numbers**

In [19]:
num_1 = int(input("Enter your number_1 here: "))
num_2 = int(input("Enter your number_2 here: "))

while num_1 % num_2 != 0:
  rem = num_1 % num_2
  num_1 = num_2
  num_2 = rem

print()
print("HCF of above number is:",num_2)

Enter your number_1 here: 12
Enter your number_2 here: 36

HCF of above number is: 12

**33. User will provide 2 numbers you have to find the by LCM of those 2 numbers**

In [21]:
a = int(input("Enter your number_1 here: "))
b = int(input("Enter your number_2 here: "))

a = num_1
b = num_2

while num_1 % num_2 != 0:
  rem = num_1 % num_2
  num_1 = num_2
  num_2 = rem

HCF = num_2

LCM = (a*b)/HCF

print("Your LCM is:",LCM)

Enter your number_1 here: 2
Enter your number_2 here: 3
Your LCM is: 36.0

**34. Print first 25 prime numbers**

In [4]:
counter = 0
n = 2

while counter <= 25:
  for i in range (2,n):
    if n % 2 == 0:
      break
  else:
    print(n)
    counter += 1
  n += 1

2
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51

**35. Print the first 20 numbers of a Fibonacci series**

In [6]:
flag = 0
a = 0
b = 1

while flag <= 18:
  num = a + b
  a = b
  b = num
  print(num)

  flag += 1

1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765

**36. Write a program to find the compound interest**

In [12]:
p = int(input("Enter your principle amount here: "))
r = int(input("Enter your rate of interest here: "))
t = int(input("Enter your number of year here: "))
n = 1

A = round(p*(1+(r/100))**t,2)

print()
print(f"Your componded interest after {t} years is:",A)

Enter your principle amount here: 25000
Enter your rate of interest here: 12
Enter your number of year here: 5

Your componded interest after 5 years is: 44058.54

**37. Write a Python program that accepts an integer (n) and computes the value of n+nn+nnn.**

In [14]:
n = input("Enter your number here: ")

print("n is:",n)
nn = n + n
print("nn is:",nn)
nnn = n + n + n
print("nnn is:",nnn)

c = int(n) + int(nn) + int(nnn)

print("your final number is: ", c)

Enter your number here: 1
n is: 1
nn is: 11
nnn is: 111
your final number is:  123

**38. Take a number from the user and find the number of digits in it.**

In [16]:
n = int(input("Enter your number here: "))
count = 0

while n > 0:
  n = n // 10
  count += 1
print("Number of digit is:",count)

Enter your number here: 25584
Number of digit is: 5

**39. Print all factors of a given number provided by the user.**

In [17]:
num = int(input("Enter your number here: "))

for i in range(1,num+1):
  if (num % i == 0):
    print("Your factor of num is:", i)

Enter your number here: 50
Your factor of num is: 1
Your factor of num is: 2
Your factor of num is: 5
Your factor of num is: 10
Your factor of num is: 25
Your factor of num is: 50

**40. Find the reverse of a number provided by the user(any number of digit)**

In [23]:
num = int(input("Enter your number here: "))
rev = 0
while num > 0:
  rem = num % 10
  num = num // 10
  rev = (rev * 10) + (rem)
print(rev)

Enter your number here: 123
321

**41. Write a program to print the following pattern**
<!--
*
**
***
****
*****
 -->

In [27]:
i = 1

while i <= 5:
  print("*" * i)
  i += 1

*
**
***
****
*****

**42. Write a program to print the following pattern**

In [72]:
row = int(input("Enter your number of rows here: "))

for i in range(row+1,0,-1):
  for j in range(i,row+1):
    print("*",end = "")
  print()

for i in range(1,row+1):
  for j in range(i,row+1):
    print("*",end="")
  print()

Enter your number of rows here: 3

*
**
***
***
**
*

In [77]:
row = int(input("Enter your num here: "))

for i in range(1,row+1):
  for j in range(i,row+1):
    print(j,end="")
  print()

Enter your num here: 5
12345
2345
345
45
5

In [78]:
row = int(input("Enter your num here: "))

for i in range(1,row+1):
  for j in range(1,i+1):
    print(j,end="")
  print()

Enter your num here: 5
1
12
123
1234
12345

In [84]:
row = int(input("Enter your num here: "))

for i in range(1,row+1):
  for j in range(1,i+1):
    print(j,end="")
  for k in range(i-1,0,-1):
    print(k, end="")
  print()

Enter your num here: 5
1
121
12321
1234321
123454321

In [86]:
row = int(input("Enter row number here: "))
n = 1

for i in range(1, row+1):
  for j in range(1, i+1):
    print(n,end="")
    n = n +1
  print()

Enter row number here: 4
1
23
456
78910